* {
	margin: 0;
	padding: 0;
}

body { 
	min-width: 960px;
	font: 16px/1.5 'PT Sans', Geneva, Arial, Helvetica, sans-serif; 
}

.clearfix:after {
	content: "";
	display: table; 
	clear: both; 
}

.container { 
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.left { float: left; }

.right { float: right; }

.button {
	font-size: 18px;
	font-weight: bold;
	color: #202e3b;
	text-decoration: none;
	display: inline-block;
}

.button-description {
	padding-top: 10px;
	color: #fff;
}

/* Название и описание страницы */

.main-description {	padding: 30px 0; }


.main-description__title {
	width: 690px;
	margin-right: 10px;
}

.main-description__button {	width: 240px; }

.main-description--contact {
	background-image: url(../img/ekskavator1.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-description-title-name {
	display: inline-block;
	margin: 0;
	margin-right: 16px;
	font-size: 26px;
	color: #ffcd34;
}

.main-description-title-description {
	min-width: 300px;
	display: inline-block;
	color: #fff;	
}

.main-description__button a:link,
.main-description__button a:visited {
	padding: 8px 20px;
	background-color: #ffcd34;
}



/* Шапка */

.main-header {
	background-color: #ffcd34;
	padding: 15px 0 16px 0;
}

/* Логотип */

.main-header__logo,
.footer-logo {	
	font-size: 24px;
	text-decoration: none;
}

.main-header__logo {
	color: #000;
}

.footer-logo {
	color: #fff;
}

.main-header-logo-img,
.main-header-logo-text,
.footer-logo__img,
.footer-logo__text {
	display: inline-block;
	vertical-align: middle;
}

/* Главная навигация */

.main-header__nav,
.footer-nav {
	text-align: right;
}

.nav-list,
.footer-nav__list {
	margin: 0;
	padding: 0;	
}

.nav-list__item,
.footer-nav-list__item {
	display: inline-block;
	margin-right: 25px;
}

.nav-list__item:last-child,
.footer-nav-list__item:last-child {
	margin-right: 0;
}

.nav-list__item a,
.footer-nav-list__item a {
	display: inline-block;
	text-decoration: none;
}

.nav-list__item a {
	color: #796e38;
}

.footer-nav-list__item a {
	color: #fff;
}

.nav-list__item a:link,
.nav-list__item a:visited,
.footer-nav-list__item a:link,
.footer-nav-list__item a:visited {
	border: 2px solid transparent;
	padding: 9px 13px;
}

.nav-list__item a:hover {
	border: 2px solid #bc9d36;
}

.footer-nav-list__item a:hover {
	border: 2px solid #636d76;
}

.nav-list__item a:active {
	border: 2px solid #796e38;
}

.footer-nav-list__item a:active {
	border: 2px solid #a6abb1;
}

.nav-list__item--active a {
	color: #000;
}

.footer-nav-list__item--active a {
	color: #ffcd34;
}

.nav-list__item--active a:link,
.nav-list__item--active a:visited,
.nav-list__item--active a:hover,
.nav-list__item--active a:active,
.footer-nav-list__item--active a:link,
.footer-nav-list__item--active a:visited,
.footer-nav-list__item--active a:hover,
.footer-nav-list__item--active a:active  {
	border: 2px solid transparent;	
}

/* Кнопка Заказать звонок */

.nav-list__item-call a:link,
.nav-list__item-call a:visited {
	padding: 8px 28px;
	background-color: #ffe184;
	border: none;
	color: #000;
}

.nav-list__item-call a:hover,
.main-description__button a:hover {
	background-color: #ffecb2;
}

.nav-list__item-call a:active,
.main-description__button a:active {
	background-color: #f6bf16;
}

.footer-nav-list__item-call a:link,
.footer-nav-list__item-call a:visited,
.footer-nav-list__item-call a:hover,
.footer-nav-list__item-call a:active  {
	background-color: none;
	border: none;
	color: #ffcd34;
}

/* Блок Промо */

.promo { 
	color: #fff;
	text-align: center;
	background-image: url(../img/ekskavator.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.promo:after,
.promo:before,
.about:after,
.about:before {
	content: "";
	display: block;
	width: 100%;
	height: 14px;
	background: linear-gradient(
		-55deg, 
		#000 33.33%,
		#ffcd34 33.33%,
		#ffcd34 66.66%,
		#000 66.66%,
		#000 99.99%
	);
	background-size: 20px 14px;
	background-repeat: repeat-x;
}

.promo-content {
	width: 60%;
	margin: 0 auto;
	padding: 138px 0 117px 0;
}

.promo__text { 
	font-size: 44px;
	font-weight: bold;
	margin-bottom: 0px;
}

.promo__title {
	font-size: 20px;
	font-weight: normal;
	margin: 7px 0 25px 0;
}

.button-promo {
	position: relative;
	padding: 12px 19px;
	padding-right: 53px;
	color: #fff;
}

.button-promo:after {
	position: absolute;
	top: 50%;
	right: 27px;
	margin-top: -5px;
	content: "";
	width: 10px;
	height: 10px;
	vertical-align: middle;
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	-webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
    	 -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.button-promo:link,
.button-promo:visited {
	border: 2px solid #ffcd34;
}

.button-promo:hover {
	border: 2px solid #ffd966;	
}

.button-promo:active {
	border: 2px solid #ffe390;
}

/* Блок Консультация */

.consult {
	padding: 28px 0 40px 0;
	background-color: #202e3b;
}

.consult__title {
	font-size: 24px;
	color: #ffcd34;
	margin-bottom: 30px;
}

.consult-form-item {
	border: 1px solid #ffcd34;
	background-color: #202e3b;
	width: 197px;
	height: 24px;
	color: #fff;
	padding: 10px;
}

.consult-form-item:focus {
	border: 1px solid #887e4f;
	outline: none;
}

:focus::-webkit-input-placeholder { color: transparent }
:focus::-moz-placeholder { color: transparent }
:focus:-moz-placeholder { color: transparent }
:focus:-ms-input-placeholder { color: transparent }

.consult-form-button {
	position: relative;
	width: 221px;
	height: 46px;
	background-color: #ffcd34;
	border: none;
	outline: none;
	font-size: 16px;
}

/* Блок Преимущества */

.advantages {
	padding: 48px 0;
}

.advantages__item {
	position: relative;
	width: 22%;
	margin-right: 4%;
	box-sizing: border-box;
	font-size: 13px;
	padding-left: 65px;
}

.advantages__item:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 40px;
	content: "";
	display: block;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	
}

.advantages__item:last-child {
	margin-right: 0;
}

.advantages__item--worker:before {
	background-position: 0 0;	
}

.advantages__item--border:before {
	background-position: -65px 0;		
}

.advantages__item--tools:before {
	background-position: -130px 0;		
}

.advantages__item--operator:before {
	background-position: -195px 0;		
}

/* Футер */

footer {
	background-color: #202e3b;
	padding: 15px 0 16px 0;
}

.about__numbers {
	width: 300px;
	padding: 38px 0;
}

.about__reviews {
	width: 620px;
	padding: 38px 0;
}

.technic {
	background-color: #f3f3f3;
	padding: 45px 0 34px 0;
}

.technic-nav-list {
	list-style: none;
	margin-top: 20px;
	padding-right: 68px;
}

.technic-nav-list__item {
	position: relative;
	margin-bottom: 16px;
}

.technic-nav-list__item a:link,
.technic-nav-list__item a:visited {
	color: #353535;
}

.technic-nav-list__item a:hover {
	font-weight: bold;
}

.technic-nav-list__item a:active {
	font-weight: bold;
	text-decoration: none; 
}

.technic-nav-list__item--active a {
	font-weight: bold;
	text-decoration: none;
	padding-left: 20px;
}

.technic-nav-list__item--active:after {
	position: absolute;
	top: 8px;
	left: 0;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	border-top: 2px solid #202e3b;
	border-right: 2px solid #202e3b;
	-webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
    	 -o-transform: rotate(45deg);
            transform: rotate(45deg);

}

.technic-table-list {
	margin-top: 23px;
	text-align: left;
	border-collapse: collapse;
}

.technic-table-list__item:nth-child(odd) {
	background-color: #fff;
}

.technic-table-list__item th {
	background-color: #dfdfdf;
}

.technic-table-list__item th,
.technic-table-list__item td {
	padding: 6px 48px 6px 14px;
	
}

/* Блок О компании */

.about {
	background-color: #202e3b;
	color: #fff;
}

.subtitle--white { font-size: 26px; }

.about__numbers > .subtitle--white { font-weight: normal; }

.about__numbers > .subtitle--white b { font-weight: bold; }

.about-list { 
	margin-top: 15px;
	list-style: none; 
}

.about-list__item {
	font-size: 18px;
	font-weight: bold;
	color: #9e9e9e;
}

.about-list__item b {
	font-size: 38px;
	color: #f1b132;
	vertical-align: middle;
	margin-right: 22px;
}

.about-list-item-text {
	vertical-align: middle;
	font-size: 18px;
}

.reviews-item {
	margin: 30px 0 40px 0;
}

.reviews-item:last-child {
	margin-bottom: 0;
}

.reviews-item__img {
	width: 122px;
	margin-right: 20px;
	border: 4px solid #f1b132;
}

.reviews-item__blockquote {
	width: 460px;
	font-style: italic;
	font-size: 18px;
}

.reviews-item__blockquote cite {
	font-weight: bold;
	color: #f1b132;
	margin-top: 3px;
	display: inline-block;
}

/* Страница каталога */

/* Описание страницы */



.subtitle--catalog {
	
}

.catalog__menu {
	width: 220px;
	margin-right: 20px;
}

.catalog__list {
	width: 720px;
}

.pagination {
	width: 100%;
}

/* Страница Контакты */

/* Описание страинцы */

.contacts {
	min-height: 394px;
	background-color: #f3f3f3;
	padding: 40px 0 50px 0;
}

.main-description--contacts {
	display: inline-block;
}

.map-contact {
	width: 620px;
	margin-right: 20px;
}

.contacts-form {
	width: 300px;
}

.reviews-item-contact {
	width: 220px;
}

/* Страница Портфолио */

/* Описание страинцы */

.main-description-menu-list__item {
	display: inline-block;
	margin-right: 40px;
}

.main-description-menu-list__item:last-child {
	margin-right: 0;	
}

/**/
